@import "reset";
@import "config";

body {
  background-color: $main-background;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-component {
  background-color: $card-background;
  margin: 12rem;
  display: flex;
  border-radius: 5px 0px 0px 5px;
  & > div {
    flex: 1;
  }
}

.card-component__content {
  display: flex;
  flex-direction: column;
  color: white;
  padding: 3rem;
  & > h1 {
    font-family: "Inter", sans-serif;
    line-height: 1.2;
    font-size: 2rem;
    margin-bottom: 2rem;
    & > span {
      color: $accent;
    }
  }
  & > p {
    font-family: "Inter", sans-serif;
    color: rgba(255, 255, 255, 0.75);
    line-height: 1.6;
    width: 80%;
  }
}

.stats {
  display: flex;
  margin-top: auto;
  & * {
    display: block;
  }
  & li {
    font-family: "Lexend Deca", sans-serif;
    color: $main-paragraph;
    list-style: none;
    text-transform: uppercase;
    flex: 1;
    & span {
      color: white;
      font-family: "Inter", sans-serif;
      font-weight: bold;
      font-size: 1.5rem;
      margin-bottom: 0.5rem;
    }
  }
}

.card-component__img {
  position: relative;
  & > img {
    width: 100%;
    height: 100%;
    border-radius: 0px 5px 5px 0px;
  }
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgb(74, 0, 121);
  z-index: 1;
  opacity: 0.5;
}

//media

@import "mediaQ";
